@import './src/app/app.style.scss';

.mainView-container {
  margin-top: 60px;
  overflow-x: auto;
  white-space: nowrap;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: center no-repeat;
  background-image: url("https://wallpaperscraft.com/image/pen_coffee_notebook_writing_54197_1680x1050.jpg");
  background-size: cover;

  .add-list-button {
    margin-top: 40px;
    margin-left: 20px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(48,59,77,.1), 0 1px 0 rgba(48,59,77,.1);
    transition: all .3s cubic-bezier(.23,1,.32,1) 0s;

    &:hover {
      color: #fff;
      background: #4A90E2;
    }
  }

  .list {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    vertical-align: top;
    position: relative;

    .list-content {

      [dnd-list] .dndPlaceholder {
        background-color: rgba(0, 0, 0, .09);
        display: block;
        width: 278px;
        min-height: 30px;
        border-width: 1px;
        border-radius: 6px;
        padding: 5px 10px 30px;
      }
    }

    &:not(:first-child) {
      margin-left: 10px;
    }

    .list-name {
      width: 280px;
      font-size: 16px;
      padding: 10px 0;
      border: none;
      color: rgba(0,0,0,.7);
      font-weight: bold;
      background: transparent;

      &:focus {
        outline: none;
      }
    }

    .add-ticket-button {
      color: #989da6;
      border: 1px solid rgba(48, 59, 77, 0.2);
      position: relative;
      top: 60px;
      left: 93px;
      box-shadow: 0 1px 1px rgba(48,59,77,.1), 0 1px 0 rgba(48,59,77,.1);
      transition: all .3s cubic-bezier(.23,1,.32,1) 0s;

      &:hover {
        color: #fff;
        background: #4A90E2;
      }
    }

    .ticket {
      position: relative;
      border-radius: 10px;

      &:hover {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.7);
        transition: all .3s cubic-bezier(.23,1,.32,1) 0s;
      }

      &:not(:first-child) {
        margin-top: 10px;
      }
      .ticket-title {
        max-width: 278px;
        height: 30px;
        border-width: 1px;
        border-radius: 10px;
        color: rgba(0,0,0,.7);
        font-size: 16px;
        padding: 20px 0 10px 19px;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .dnd-list .selected {
    background-color: #dff0d8;
    color: #3c763d;
  }

  .delete {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 8px;
    top: 6px;
    margin-right: 0;
    padding: 0;
    border: none;
    background: transparent;

    &:hover {
      box-shadow: none;
    }

    i {
      position: relative;
      color: black;
      top: -8px;
      right: -1px;
      font-size: 15px;

      &:hover {
        color: grey;
      }
    }
  }

  .menu {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 8px;
    top: 6px;
    margin-right: 0;
    padding: 0;
    border: none;
    background: transparent;
    transform: rotate(90deg);

    &:hover {
      box-shadow: none;
    }

    i {
      position: relative;
      color: black;
      top: -5px;
      font-size: 20px;

      &:hover {
        color: grey;
      }
    }
  }
}

div[dnd-list] {
  min-height: 40px;
  padding-left: 0;
}

.add{
  margin-right: 17px;
}

.select {
  border-radius: 10px;
  height: 30px;
  margin: 0;
  font-size: 15px;
  margin-top: 8px;

  &:focus {
    outline: none;
  }
}

.md-select-menu-container {
  z-index: 100;
}

.low {
  background-color:green;
}
.medium {
  background-color:yellow;
}

.high {
  background-color:red;
}

.priority {
  border-radius: 9px 9px 0 0;
  width: 297px;
  height: 9px;
  top: 1px;
  left: 1px;
  position: absolute;
}