<md-toolbar class="header">
  <div class="md-toolbar-tools">
    <button class="main-button" ng-click="showPrompt($event)">
      <span class="title-cards"><i class="material-icons icons">speaker_notes</i></span>
      Dashboards
    </button>
    <button class="main-button" ng-if="status" layout="row">
      <span><i class="material-icons icons">content_paste</i></span>
      {{status}}
    </button>
    <div class="header__button-title"><span><i class="material-icons">dashboard</i></span>NewKanban</div>
  </div>
</md-toolbar>