@import './src/app/app.style.scss';

.header {
  min-height: 60px;
  box-shadow: 0 2px 2px 0 lightgray;

  &:not(.md-menu-toolbar) {
    background-color: white;
    color: rgba(255, 255, 255, 0.87);
    border-bottom: 1px solid lightgray;
  }

  &__button-title {
    font-size: 35px;
    color: rgba(48, 59, 77, .2);
    font-family: monospace;
    width: 207px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: inherit;

    i {
      font-size: 30px;
      line-height: 43px;
      margin-right: 5px;
      color: #303b4d;
    }
  }
}

.main-button {
  padding: 0 15px;
  border: 1px solid rgba(48, 59, 77, .2);
  color: #989da6;
  background: #fff;
  border-radius: 6px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  margin-right: 10px;

  &:hover {
    box-shadow: 0 2px 2px 0 lightgray;
    background-color: white;
    .icons {
      color: #303b4d;
    }
  }

  &:focus {
    outline: none;
  }

  span {
    margin-right: 3px;
  }

  .icons {
    position: relative;
    top: 7px;
  }
}

md-dialog {

  &.md-default-theme {
    border-radius: 10px;
  }

  .md-dialog-content {
    color: #989da6;
    line-height: 40px;
    font-size: 20px;
  }
}

.md-button.md-default-theme.md-primary {
  padding: 0 15px;
  border: 1px solid rgba(48, 59, 77, .2);
  color: #989da6;
  background: #fff;
  border-radius: 6px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  margin-right: 10px;

  &:hover {
    box-shadow: 0 2px 2px 0 lightgray;
    background-color: white;
  }
}

md-input-container {
  margin: 2px 5px;
  font-size: 14px;

  &.md-input-focused label {
    &:first-child {
      display: none;
    }
  }

  &:not(.md-input-invalid) {

    &.md-input-focused .md-input {
      border-bottom: #989da6 solid 1px !important;
    }
  }
}