<div id="boardPage" >
  <button ng-click="addList()">+Add list</button>
  <div ng-repeat="list in lists" class="list">
    <input class="list-name" ng-model="list.name"/>
    <div class="list-content">
      <div ng-repeat="ticket in list.tickets track by $index" class="ticket"
           dnd-draggable="ticket"
           dnd­dragstart="list.tickets.splice($index, 1)"
           dnd-effect-allowed="move">
        <input class="ticket-title" ng-model="ticket.title"/>
        <button class="delete" ng-click="delete($index, list)"><i class="material-icons">clear</i></button>
      </div>
    </div>
    <button class="add-ticket" ng-click="addTicket(list)"> Add Ticket </button>
  </div>
</div>`