@import 'app.style';

body {
  font-family: sans-serif;
  background: center no-repeat;
  background-image: url("https://wallpaperscraft.com/image/pen_coffee_notebook_writing_54197_1680x1050.jpg");
  background-size: cover;
}